################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CompanyEmployees/bin/Debug/net6.0
/.vs/CompanyEmployees
/CompanyEmployees/obj
/Contracts/bin/Debug/net6.0
/Contracts/obj
/Entities/bin/Debug/net6.0
/Entities/obj
/LoggerService/bin/Debug/net6.0
/LoggerService/obj
/Repository/bin/Debug/net6.0
/Repository/obj
/Service/obj
/Service.Contracts/obj
/CompanyEmployees.Presentation/bin/Debug/net6.0
/CompanyEmployees.Presentation/obj
/Service/bin/Debug/net6.0
/Service.Contracts/bin/Debug/net6.0
/Shared/bin/Debug/net6.0
/Shared/obj
/internal_logs
/.vs
